<input type="checkbox" <% if (completed) { %>checked<% } %>>
<form>
    <input type="text" value="<%= title %>">
</form>
<span>
    <%= title %>
</span>
<span style="display:inline-block; cursor: pointer; padding:2px;"><div class="x" style="display: block;">[x]</div></span>
